body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fb;
}

/* logo styles */
.navbar {
  display: flex;
  align-items: center;
  padding: 20px 150px;
  background-color: #fff;
  height: 71px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 70px;
  width: 60px;
}

.logo span {
  font-size: 24px;
  color: #d9534f;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto; /* Pushes nav to right */
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: orange;
}

.cart {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  color: #333;
}

.cart:hover {
  color: orange;
  cursor: pointer;
}

/* banner styles */
.banner {
  width: 1400px;
  height: 461px;
  background-color: #f0f5ff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.banner-text {
  z-index: 1;
  padding-top: 173px;
  padding-left: 20px;
}

.banner-text h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

.banner-text h1 span {
  color: purple;
}

.banner-text p {
  font-size: 1.2em;
  color: #666;
  max-width: 400px;
  margin-top: 10px;
}

.banner-image-one {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: url('/assets/hero-flower.png') no-repeat right;
  background-size: cover;
  opacity: 0.8;
}

.hovers span {
  /* display: inline-block;
  transition: transform 0.6s ease; */
  display: inline-block;
  transition: transform 0.3s ease;
}

.hovers span:hover {
  color: orange;
  transform: scale(1.1);
  cursor: pointer;
  /* transform: rotate(360deg); */
  transform: translateY(-10px);
}

/* join section styles */
.btn-primary {
  background-color: #fd6e0a;
  color: #fff;
  padding: 18px 35px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  height: 19px;
  width: 186px;
}

.box {
  width: 644px;
  height: 50px;
}

.alignment {
  display: flex;
  width: 830px;
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../assets/news-letter-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
